<!DOCTYPE html>
<html>
<head>
	<title>About Pantry</title>
	<link rel='stylesheet' href='stylesheets/about.css'/>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel='stylesheet' href='/lib/semantic/semantic.min.css'/>
    <script src="/lib/semantic/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
			<!-- facebook sdk -->
		  	<script>
			  window.fbAsyncInit = function() {
			    FB.init({
			      appId      : '1108450909174514',
			      xfbml      : true,
			      cookie     : true,
			      version    : 'v2.5'
			    });
			    document.getElementById('authCheck').click();
			  };

			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "//connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));

			</script>

			<script>

			  // This is called with the results from from FB.getLoginStatus().
			  function statusChangeCallback(response) {
			    // The response object is returned with a status field that lets the
			    // app know the current login status of the person.
			    // Full docs on the response object can be found in the documentation
			    // for FB.getLoginStatus().
			    if (response.status === 'connected') {
			      // Logged into your app and Facebook.

			 	  // Stores accesss token

			      // window.location = "http://localhost:3000/home";
			    } else if (response.status === 'not_authorized') {
			      // The person is logged into Facebook, but not your app.
			      document.getElementById('status').innerHTML = 'Please log ' +
			        'into Pantry.';
			    } else {
			      // The person is not logged into Facebook, so we're not sure if
			      // they are logged into this app or not.
			      document.getElementById('status').innerHTML = 'Please log ' +
			        'into Facebook.';
			    }
			  }

			  // This function is called when someone finishes with the Login
			  // Button.  See the onlogin handler attached to it in the sample
			  // code below.
			  function checkLoginState() {
			    FB.getLoginStatus(function(response) {
			      statusChangeCallback(response);
			    });
			  }

			  //FB.api('/me', function(response) {
		    	//console.log(JSON.stringify(response));
			  //});

			  /*window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '1108450909174514',
			    cookie     : true,  // enable cookies to allow the server to access 
			                        // the session
			    xfbml      : true,  // parse social plugins on this page
			    version    : 'v2.2' // use version 2.2
			  });*/

			  // Now that we've initialized the JavaScript SDK, we call 
			  // FB.getLoginStatus().  This function gets the state of the
			  // person visiting this page and can return one of three states to
			  // the callback you provide.  They can be:
			  //
			  // 1. Logged into your app ('connected')
			  // 2. Logged into Facebook, but not your app ('not_authorized')
			  // 3. Not logged into Facebook and can't tell if they are logged into
			  //    your app or not.
			  //
			  // These three cases are handled in the callback function.
			  // Load the SDK asynchronously
			  (function(d, s, id) {
			    var js, fjs = d.getElementsByTagName(s)[0];
			    if (d.getElementById(id)) return;
			    js = d.createElement(s); js.id = id;
			    js.src = "//connect.facebook.net/en_US/sdk.js";
			    fjs.parentNode.insertBefore(js, fjs);
			  }(document, 'script', 'facebook-jssdk'));

			  

			</script>

		  	<section class="head">

		  	<a id='authCheck'></a>
			<!-- shows dropdown when width < 640px -->

			<div class="ui top fixed menu">
			  <!-- <div class="item"> -->
			  	<a href="/" class="item">PANTRY</a>				  
				<!-- <a href="/saved" class="item">My Saved Recipes</a> -->
				<a href="/aboutwelcome" class="item">About Us</a>
				<!-- <a id="logout" class="item" href="#">Log Out</a> -->
			<!-- </div> -->
			</div>

			<div class="ui top fixed menu two">
			  <a href="/" id="home
			  	" class="item">PANTRY</a>			  
			  <div class="ui simple dropdown item">
				MENU
			    <div class="menu">
			      <!-- <a href="/saved" class="item">My Saved Recipes</a> -->
			      <a href="/aboutwelcome" class="item">About Us</a>
			      <!-- <a id="logout1" href="#" class="item">Log Out</a> -->
			    </div>
			  </div>
			</div>
			<section class="main">

				<div id="mainmenu">
					<!-- <div class="home-message"> -->
						<h1 id="first-paragraph">Pantry is a web app designed to help people use the spare ingredients at home in order to cook amazing meals that align with their exercise and wellness goals.
						</h1>
						<h1>Created by Greg Hui, Binh Le, and Wei Xun He, a group of food-loving MIT students with a passion for health.</h1>
						<h1><strong>Webby Award winner</strong> for most popular app on social media at the 2016 MIT 6.148 Web Programming Competition!</h1>
						<h1>Contact us at <a id="email" href="mailto:pantry@mit.edu">pantry@mit.edu</a>!</h1>
					<!-- </div> -->

				</div>
			</section>					

		</section>
</body>
</html>