body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    overflow: hidden;
}

#mainmenu {
	border-radius: 5px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 52%;
	height: 40vh;
	line-height:3em;
	overflow: auto;
	/*padding:15px;*/
	background-color:white;
	color: #000000;
	border:4px double #e67e22;
	border-radius: 10px;
	box-sizing: border-box;
}

.title {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.subtitle {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.body-pic {
    background: url("/images/background/background_potential.jpg") fixed no-repeat;
    background-position-y: 37.5%;
    background-size: cover;
    padding-top: 50px;
}


#home:link {color: black;}
       #home:visited {color: black;}
       #home:hover {color: black;}
       #home:active {color: black;}

.head>*:hover {
	transition: all 0.2s;
	background-color: #333;
}
.logo {
	float: left;
	color: red;
	font-style: sans-serif;
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
}

.about {
	float: right;
	color: green;
	position: relative;
	display: inline-block;
	height: 20px;
	padding: 20px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	font-style: sans-serif;
}

.head {
    background-color: blue;
    width: 100%;
    position: absolute;
    top: 0px;
    height: 60px;
    z-index: -1;
}


.ui.top.fixed.menu{
	position: relative initial;
	margin:0px;
	padding:0px;
	top: 0px;
	width: 100%;
	background-color: #e67e22;
	z-index: 999;
	float:left;
	height:50px;
}

.ui.top.fixed.menu > * {
	font-weight: bold;
}

.main{
	text-align: center;
	margin-top: 40px;
	position:relative;
}

.intro-text {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

h1 {
	font-size: 60px;
}

h5 {
	font-size: 20px;
}

#big-button{
	top: 5px;
	right: 5px;
	position: fixed !important;
    z-index: 1000;
}

#small-button{
	display:none;
}
